# Based on https://github.com/Shelob9/wordpress-plugin/blob/main/.github/workflows/wordpress.yml
name: WordPress Tests

on: [push]

env:
  WP_DEVELOP_DIR: /tmp/wordpress/
  WP_VERSION: 5.7

jobs:

  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php-version: [ 7.2, 7.3, 7.4 ]
        wordpress-version: [ latest ]
    container:
      image: junaidbhura/wp-tests:php-${{ matrix.php-version }}
    services:
      mysql:
        image: mysql:5.7.27
        env:
          MYSQL_ROOT_PASSWORD: password

    steps:
      - name: Checkout repository
        uses: actions/checkout@v1

      - name: Install Composer dependencies
        run: composer install

      - name: Start mysql
        run: sudo /etc/init.d/mysql start

      - name: Install WordPress test database
        run: bash bin/install-tests-db.sh

      - name: Install WordPress test suite
        run: bash bin/install-tests.sh

      - name: Tests
        run: ./vendor/bin/phpunit
